.logo{
  width: 218px;
  height: 96px;
  left: 50px;
  top: 40px;
  float: left;
  padding: 12px 0;
}
.login{
  width: 81px;
  height: 34px;
  background: #181A20;
  border: 1px solid #2B7FE0;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  transition: all 200ms ease-in-out;
  color: #2B7FE0;
}
button.login:hover{
  width: 81px;
  height: 34px;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background: #2B7FE0;
  border-radius: 7px;
  outline-style: solid;
  outline-color: #2B7FE0;
  border-color:#2B7FE0;
}
body{
  margin: 0;
/*background-image: url("background.jpg");*/
  background-color: #181A20;
  font-family: 'Poppins', sans-serif;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
header{
  background-color: #181A20;
}
nav{
  float:right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  padding-top: 40px;
  margin-left: 35px;
  margin-right: 55px;
  position: relative;
}
nav a{
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #2B7FE0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover{
  color:#2B7FE0;
  width: 200px;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.login-page{
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
}

.form{
  position: relative;
  z-index: 1;
  background: #000000;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
.form input{
  font-family: 'Poppins', sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 10px;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  outline: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  background: #181A20;
  border: 1px solid #2B7FE0;
    box-sizing: border-box;
    border-radius: 7px;
box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.25);
border-radius: 10px;
  width: 100%;
  border: 0;
  padding: 16px;
  color: #FFFFFF;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.form button:hover,.form button:active{
  background:#2B7FE0;
}
.form .message{
  margin: 15px 0 0;
  color: aliceblue;
  font-size:12px;
}
.form .message .a:link{
  color: #2B7FE0;
  text-decoration: none;
}
.warning_msg
{
  color:red;
  font-size:25px;
  font-family: Arial Rounded MT;
    
}
.form .register-form{
  display:none;
}
.loginheading{
  text-align: center;
  width: 103px;
  margin-top: 0;
height: 40px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
color: #FFFFFF;
}
#subheadinglogin{
  /*width: 129px;
height: 25px;*/
text-align: left;
margin: auto;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;

}